body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 1150px;
  margin: 0 auto;
  padding: 20px 0px;
}
header {
  background-image: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 200px;
}
.navigation li {
  display: inline-block;
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s;
}
.navigation li a:hover {
  color: #34c6d3;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner h1 {
  color: #fff;
  font-size: 55px;
  margin-top: 150px;
}
.btn-main {
  padding: 12px 25px;
  border: 2px solid;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.btn-white {
  color: #fff;
  transition: 0.3s;
}
.btn-white:hover {
  background-color: #fff;
  border-color: #fff;
  color: #64707b;
}
.btn-cyan {
  color: #34c6d3;
  background-color: transparent;
  transition: 0.3s;
}
.btn-cyan:hover {
  background-color: #34c6d3;
  color: #fff;
  border-color: #34c6d3;
}

/* Service part css */

.section-title h3 {
  font-size: 30px;
  color: #41464b;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.section-title-underline {
  width: 30px;
  height: 3px;
  background-color: #34c6d3;
  margin: 0 auto;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.service-item {
  display: flex;
  align-items: center;
}
.service-item h3 {
  color: #41464b;
  font-weight: 400;
}
.service-icon {
  margin-right: 40px;
  color: #34c6d3;
}
#about {
  background-image: url(../img/bg-about.jpg);
  height: 100vh;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#about .section-title h3 {
  text-align: left;
}
#about .section-title-underline {
  margin-left: 0;
}

.about-container {
  background: #fff;
  height: 100vh;
  clip-path: polygon(0 0, 42% 0, 58% 100%, 0% 100%);
  display: flex;
  align-items: center;
}
.about-left {
  width: 40%;
}

.work-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.work-item {
  overflow: hidden;
}
.work-item img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.work-item img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}
.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 50px;
}
.price-box {
  border: 3px solid #34c6d3;
  text-align: center;
  padding: 50px 0px;
  margin: 40px 0px;
}
.price-title {
  padding: 7px 15px;
  background-color: #34c6d3;
  color: #fff;
  display: inline-block;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.price-value {
  font-size: 60px;
  color: #41464b;
  font-weight: 700;
}
.price-value sup {
  font-weight: 400;
  font-size: 30px;
}
.price-box-large {
  background-color: #34c6d3;
  padding: 90px 0;
  margin: 0px;
}
.price-box-large .price-title {
  background-color: white;
  color: #34c6d3;
}
.price-paragraph {
  margin-bottom: 50px;
}

/* Contact part Css */
footer {
  background-color: #41464b;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.contact-left,
.contact-right {
  color: #fff;
}
.contact-left h3,
.contact-right h3 {
  font-size: 25px;
  text-transform: uppercase;
}
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  color: #fff;
  margin: 30px 30px 30px 0px;
}
.contact-info {
  background-image: url(../img/world-map.png);
}
.contact-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
input,
textarea {
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

/* footer ottom */

.footer-bottom {
  background-color: #00000031;
}
.footer-bottom-container {
  display: flex;
  justify-content: space-between;
}
.copyright p {
  color: pink;
}
.footer-menu ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

#back-to-top {
  padding: 15px 20px;
  color: #34c6d3;
  border: 2px solid #34c6d3;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: transparent;
  transition: 0.3s;
}
#back-to-top:hover {
  background-color: #34c6d3;
  color: #fff;
  border-color: #34c6d3;
}
